
.App{
display: flex;
align-items: center;
font-size: 34px;
text-align: center;
}
.App--operator{
  width: 40px;
  background-color: blanchedalmond;
  color: gray;
}
.App--value{
  width: 40px;

  background-color: gray;
  color: black;
}